<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Blogs</h1>
      <%= link_to 'New Blog', new_blog_path %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
